:root {
 --hunter: rgb(150, 97, 0);
 --mage: rgb(79, 5, 79);
 --guardian: rgb(3, 122, 3);
 --warrior: rgb(88, 7, 7);
 --assassin: rgb(150, 135, 5);

}

body {
    background-color: #011627;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
h1 {
    color: #ffce00;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 10px cyan;
}

main {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background: url("https://i.pinimg.com/originals/cb/54/76/cb54767d48ef382e0b5d66ccc16f86f9.jpg") no-repeat;
    background-size: cover;
    background-position: right;
}

header {
    display: inline-block;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80vw;
    margin: 0 auto;
}

header h2 {
    color: white;
    padding: 4vh;
    display: table-column;
    text-align: center;

}
#chaos {
    color: #D33F49;
}


.god.Warrior {
    background-color: var(--warrior)
}

.god.Mage {
    background-color: var(--mage)
}

.god.Hunter {
    background-color: var(--hunter)
}

.god.Guardian {
    background-color: var(--guardian)
}

.god.Assassin {
    background-color: var(--assassin)
}

#selector .row.sm.blue {
    width: 49%;
    display: inline-block;
    background-color: rgba(0, 255, 255, 0.6);
}

#selector .row.md.red {
    width: 40%;
    display: inline-block;
    background-color: rgba(211, 63, 73, 0.6);
}

#order {
    color: cyan;
}

.column {
    float: left; 
    border: rgb(78, 78, 64) 1px solid;
    box-sizing: border-box;
    height: 100%;
}
.column.small {
    width: 10%;
}
.column.large {
    width: 100%;
  
}
.teamNames {
    color: white;
    width: 100%;
}

.chaos {
    display: inline-block;
}

.order {
    float: right;
}

.order h2 {
    text-align: right;
}

.player {
    border: 2px solid rgb(78, 78, 64);
    height: 20%;
    box-sizing: border-box;
    text-align: center;
}

.player.red {
    background-color: rgba(211, 63, 73, 0.6);
}

.player.blue {
    background-color: rgba(0, 255, 255, 0.6);
}

#selector {
    color: white;
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.teamPicks {
    width: 50%;
    height: 40%;
    box-sizing: border-box;
    float: left;
    background-color: rgba(102, 51, 153, 0.6);
    padding-top: 1vh;
}

.teamPicks .row {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 3vh auto;
}

.teamPicks .pick {
    box-sizing: border-box;
    border: 1px solid white;
    width: 20%;
    height: 90%;
    float: left;
    margin: 0 1vw;
}

.teamPicks .row.round2.last .pick, .teamPicks .row.round1.last .pick {
    float: right;
}

#typeSelector {
    width: 100%;
    height: 10%;
    color: ivory;
    background-color: rgba(0, 0, 0, 0.8);
}

#typeSelector .type {
    width: 20%;
    height: 100%;
    float: left;
    padding: 1vh 0;
    border: 1px solid ivory;
    box-sizing: border-box;
    font-size: 1.3em;
}

#typeSelector .type:hover {
    opacity: 0.8;
    background-color: white;
    color: black;
}

#picks {
    color: #fff;
    font-size: 3rem;
    height: 90%;
    overflow-y: auto;
    margin-left: 4vw
}

.player .god {
    height: 100%;
    width: 100%;
}

.player.red .god {
    background-color: rgba(211, 63, 73, 0.6);
}

.player.blue .god {
    background-color: rgba(0, 255, 255, 0.6);
}


.player .god p {
    background-color: black;
    color: white;
    margin: 0;
    margin-left: 0.38vw;
    width: 90%;
}

.player .god.Warrior p {
    background-color: var(--warrior);
}

.player .god.Mage p {
    background-color: var(--mage);
}

.player .god.Hunter p {
    background-color: var(--hunter);
}

.player .god.Guardian p {
    background-color: var(--guardian);
}

.player .god.Assassin p {
    background-color: var(--assassin);
}


.player .god img {
    height: 90%;
}

#picks .god {
    width: 12%;
    /* height: 35%; */
    float: left;
    font-size: .75rem;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 1vh 1vw;
}

#picks .god:hover {
    background-color: white;
    color: black;
}

#picks .god p {
    margin: 0;
    line-height: 3vh;
    /* max-height: 20%; */
}

#picks .god img {
    /* padding: 0  1vw; */
}

.pick .god {
    height: 100%;
    width: 100%;
}

.pick .god p {
    margin: 0;
    line-height: 3vh;
    height: 3vh;
    width: 100%;
}

.pick .god img {
    width: 80%; 
}

.god img {
    width: 90%;
    height: 75%;
}

#selector .row.sm {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
}

#selector .row.sm .col {
    display: inline-block;
    width: 30%;
    background-color: orange;
    height: 100%;
    box-sizing: border-box;
    border: rgb(78, 78, 64) 1px solid;
}

#selector .row.lg {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    border: rgb(78, 78, 64) 1px solid;
}

footer {
    height: 10vh;
    width: 100vw;
    background-color: slategray;
    opacity: 70%; 
}

footer h3 {
    text-align: center;
    padding-top: 2vh;
}
